/* login.css */
.login-container {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5; /* ou toute autre couleur de fond */
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.login-form {
  margin: 20px;
  background-color: #ffffff;
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.login-title {
  font-size: 28px;
  font-weight: 800;
  color: #0d6efd;
}

.login-input-field {
  position: relative;
  width: 100%;
}

.login-input {
  margin-top: 15px;
  width: 100%;
  outline: none;
  border-radius: 8px;
  height: 45px;
  border: 1.5px solid #ecedec;
  background: transparent;
  padding-left: 10px;
}

.login-input:focus {
  border: 1.5px solid #2d79f3;
}

.login-input-field .login-label {
  position: absolute;
  top: 25px;
  left: 15px;
  color: #ccc;
  transition: all 0.3s ease;
  pointer-events: none;
  z-index: 2;
}

.login-input-field .login-input:focus ~ .login-label,
.login-input-field .login-input:valid ~ .login-label {
  top: 5px;
  left: 5px;
  font-size: 12px;
  color: #2d79f3;
  background-color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
}

.login-submit-btn {
  margin-top: 30px;
  height: 55px;
  background: #f2f2f2;
  border-radius: 11px;
  border: 0;
  outline: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  background: linear-gradient(180deg, #00a3ff 0%, #0d6efd 50%, #00a3ff 100%);  box-shadow: 0px 0px 0px 0px #ffffff, 0px 0px 0px 0px #000000;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}

.login-submit-btn:hover {
  box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 4px #0000003a;
}

/* Style pour le conteneur des liens */
.login-links-container {
  display: flex; /* Utilise Flexbox pour aligner les éléments horizontalement */
  gap: 10px; /* Espacement entre les liens, ajustez selon vos préférences */
  justify-content: center; /* Centre les liens dans leur conteneur */
  margin-top: 20px; /* Espacement au-dessus des liens */
}

/* Style pour les liens */
.login-forgot-password {
  text-decoration: none; /* Enlève le soulignement des liens */
  color: #007bff; /* Couleur du texte, ajustez selon vos préférences */
  font-size: 14px; /* Taille de la police, ajustez selon vos préférences */
}

.login-forgot-password:hover {
  text-decoration: underline; /* Soulignement des liens au survol */
}
